<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user porofile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, alias inventore eaque deserunt quasi,
                dolorem
                quod
                quo enim hic voluptates accusantium dignissimos expedita mollitia ab quas vitae optio debitis odit.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sit nemo. Natus, vel doloremque.
                Amet
                soluta,
                libero dolorum dolore qui, sunt, magnam labore voluptatum culpa hic totam ipsa sequi saepe.</p>
        </div>
    </div>
    <div class="col-md-8">
        <h3><%= user.username.toUpperCase() %>'s campgrounds:</h3>
        <ul>
            <% campgrounds.forEach(function(campground) { %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }); %>        
        </ul>
    </div>
</div>

<% include ../partials/footer %>